{% extends 'main.html' %} {% block content %} {% for tag in tags %}
<span
    style="
        border: solid 1px rgb(15, 15, 15, 0.2);
        background-color: crimson;
        color: rgb(255, 255, 255);
        padding: 0.3em;
        margin: 0.7em;
        border-radius: 10px;
    "
>
    <b>{{ tag }}</b>
</span>
{% endfor %}
<img style="max-width: 50%" src="{{ project.featured_image.url }}" />
<ul>
    <li style="list-style: none"><h2>{{ project.title }}</h2></li>

    <li style="list-style: none"><i>{{ project.description }}</i></li>
</ul>

{% endblock content %}
